fastapi
uvicorn
pydantic
sqlmodel
sqlalchemy
chromadb
langchain
langchain-google-genai
python-dotenv
google-genai
mcp
httpx
pytest
pypdf
python-multipart
psycopg2-binary==2.9.12
asyncpg
python-jose
alembic
bcrypt
groq
slowapi
email-validator
